body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 20px;
}

a {
  text-decoration: none;
}

.form-caixa{
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgb(192, 182, 182);
}

input:focus {
  outline: none;
  border-color: blue;
}


.btn-primeiro {
  background-color: blue;
  border-radius: 5px;
  color: white;
}

.btn-segundo {
  background-color: gray;
  border-radius: 5px;
  color: black;
}

.btn-new {
  background-color: lightseagreen;
  margin-bottom: 15px;
  display: inline-block;
  border-radius: 5px;
  color: black;
}

.btn-new:hover{
    background-color:aquamarine;
}

.btn-edit {
  background-color: yellow;
  border-radius: 5px;
  color: black;
}

.btn-delete {
  background-color: red;
  color: white;
  border-radius: 5px;
}

.tabela {
  border-collapse: collapse;
  width: 100%;
  background: white;
}

th {
  background-color: blue;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid whitesmoke;
}

.errors {
  background-color: rgb(219, 143, 143);
  color: rgb(110, 29, 29);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.btn-voltar{
    background-color: lightseagreen;
    color: black;
    border-radius: 5px;
}

.btn-voltar:hover{
    background-color:aquamarine;
}

.btn-sair{
    background-color: lightseagreen;
    color: black;
    border-radius: 6px;
}

.btn-sair:hover{
    background-color:aquamarine;
}

.btn-telefone{
    background-color: lightseagreen;
    color: black;
    border-radius: 6px;
}

.btn-telefone:hover{
    background-color:aquamarine;
}